<head>
  <script src="https://kit.fontawesome.com/963e6d96ae.js" crossorigin="anonymous"></script>
</head>
<div class="container">
  <h2>
    <div class="contact-general-grid">
      <div class="contact-general-item1">
        <br>
        <br>
        <p>Contact us by <%= link_to 'cbvstem@support.com', new_message_path %>.</p>
        <p>Or via <i class="fab fa-whatsapp"></i><%= link_to 'WhatsApp', "https://wa.me/15106978973", target: :_blank%>.</p>
      </div>
      <div class="contact-general-item2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.587999544471!2d-122.2599745360362!3d37.87414638598732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c23cec17a61%3A0xd6e1f085d0308711!2sEECS%20Computer%20Science%20Division%20Soda%20Hall!5e0!3m2!1sen!2sus!4v1572899370247!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </h2>
</div>
