<div class="container">
  <h1>Editing Message</h1>

  <%= render 'form', message: @message %>

  <%= link_to 'Show', [@user_holder, @message] %> |
  <%= link_to 'Message Box', user_holder_messages_path %>
</div>
