<div class="container">
  <h2><%= if !current_user.nil? then 'New Message' end %></h2>

  <%=  if current_user.nil? then render 'contact' else render 'form', message: @message end %>

  <%= if !current_user.nil? then link_to 'Back', messages_path end %>
</div>
