<%# new_user_registration_path %>
<div class="leftBtn">
<%= (link_to raw("<span style='font-size:25px' lass=\"nav-icon\" aria-hidden=\"true\"></span> Create a doctor"), create_doctor_path, class: 'btn btn-primary') %>
</div>
<div class = "rightBtn">
<%= (link_to raw("<span style='font-size:25px' class=\"nav-icon\" aria-hidden=\"true\"></span> Delete a doctor"), delete_doctor_path, class: 'btn btn-primary') %>
</div>