<div class="container">
  <%= form_tag searchPatients_path, :method => 'post' do %>
    <div class="form-group row">
      <label for="searchPatients" class="col-md-3 col-form-label">Enter Patients'name:</label>
      <input type="text" name="searchPatients" autocomplete="off"
             class="form-control col-md-4"/>
      <input type="submit" value="search patients" class="col-md-1.5 btn btn-success"/>
    </div>
  <% end %>
</div>
