<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <p class="login"><%= login_helper 'nav-link-login' %></p>
    </nav>
  </div>
</div>
