<div class="nav-right2-icon">
</div>
<button class="btn btn-primary nav-right1" id = "menu" type="button" data-toggle="collapse" data-target="#nav-pivotal-printboard" aria-controls="nav-pivotal-printboard" aria-expanded="false" aria-label="Toggle navigation">
  <%= if !current_user.is_doctor then "Patient" else "Doctor" end %>
</button>
