<button class="user-pivotal-button btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
  <%= image_tag("man_info", :alt => "rss feed") %>
</button>
