<div class="container">
  <div style="background-color:lightblue"><h1> About Us</h1></div>
  <p>CvbXStem is a growing stem cell treatment clinic. The aim of this patient-doctor portal is to ameliorate the relationship between patients and doctors, and to make the treatment process more efficient for both parties.
  This portal allows for patients to contact their
  doctors (via to email or WhatsApp) and
  have access to any important forms they need to fill in.
  Meanwhile, admins/doctors have access to their patient’s treatment information,
  be able to track a patient’s treatment process and be able to
  update it, send reminder emails or send forms to be completed.</p>
</div>
