<h1>Message#new_message</h1>

<p>
 A new message was sent from Cbv X Stem:
</p>
<blockquote>
	<em><%= @message.body %></em>
</blockquote>
<p>
	To reply to this message, please visit 
	<%= link_to "doctor page", @doctor %>.
</p>
