// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leftBtn { 
    width: 40%; 
    margin-top: 100px;
    margin-left:200px;
    float:left;
   }

.rightBtn { 
width: 40%; 
margin-top: 100px; 
margin-right:10px;
float:right;
}