// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
/*
*= require_tree
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*
 * Globals
 */


body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

.container {
  min-height: 1.7rem;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  position: relative;
  min-height: 1.7rem;
  margin-bottom: 3rem;
  background-color: #428bca;
}

.nav-general-link {
  margin-top: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.nav-general-link  a {
  margin-top: 0;
  align-items: center;
}

.blog-nav {
  position: relative;
}


#nav-pivotal-printboard {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 10.7rem;
  background-color: #383c3d;
}

.nav-pivotal-interface {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: "left left left left right1 right2"
                       "left left left left right1 right2"
                       "left left left left right1 right2"
                       "left left left left right1 right2"
                       "left left left left right1 right2";

  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(5,20%);
}

.left-pivotal{
    grid-area: left;
}

// .left-pivotal {
//   height: 100%;
//   margin: 0.5rem;
// }

.left-pivotal-font {
  color: #d9d8ca;
  margin-top: 0.7rem;
  font-size: 1.6rem;
}

.right-function-pivotal {
  padding: 0.1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #a3b7d6;
  grid-area: right1;
}

.right-setting-pivotal {
  padding: 0.1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #a3b7d6;
  grid-area: right2;
}

.nav-link {
  margin-top: 1rem;
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}

img {
max-width:100%;
max-height:100%;
object-fit: contain;
}

// Original NavBar
.nav-grid {
  display: grid;
  height: 5rem;
  width: 100%;
  grid-template-areas: "left left left mid right right";
  grid-template-columns: 7% 7% 7% auto 10% 10%;
}

.nav-left {
  grid-area: left;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 33%);
}

.nav-middle {
  grid-area: mid;
}

.nav-right {
  grid-area: right;
  display: grid;
  grid-template-areas: "right1 right2";
  grid-template-columns: 50% 50%;
}
.nav-right1 {
  margin: 0.5rem;
  grid-area: right1;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right2-icon {
  margin: 0.5rem 0rem;
  grid-area: right2;
  padding: 0;
  display: flex;
  align-items: right;
  justify-content: left;
}

.nav-right2 {
  margin: 0.5rem;
  grid-area: right2;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


// Special Fucntionality

.need-work {
  color: #FAEBD7;
}

.doctor-pivotal-link {
  color: #dc3545;
}
