// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
/*
*= require_tree
*= require_self
*= require simple_calendar
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*
 * Globals
 */

html, body {
  font-family:'Work Sans', 'Calibri', sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 18px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.container {
  min-height: 1.7rem;
}

.leftBar{
  float: left;
}

.right-container{
  margin-left:150px;
}
p {
    font-family: 'Work Sans', 'Calibri', sans-serif;
}

p b, p strong {
    font-weight: 700;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  position: relative;
  min-height: 1.7rem;
  margin-bottom: 3rem;
  background-color: #428bca;
}

.nav-general-link {
  margin-top: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.nav-general-link  a {
  margin-top: 0;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.blog-nav {
  position: relative;
}


#nav-pivotal-printboard {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1.2rem;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 10.7rem;
  background-color: #383c3d;

}

.nav-pivotal-interface {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: "left mid1 mid1 mid1 mid2 mid2 right1 right1 right2"
                       "left mid1 mid1 mid1 mid2 mid2 right1 right1 right2"
                       "left mid1 mid1 mid1 mid2 mid2 right1 right1 right2"
                       "left mid1 mid1 mid1 mid2 mid2 right1 right1 right2"
                       "left mid1 mid1 mid1 mid2 mid2 right1 right1 right2";

  grid-template-columns: 10% 10% 10% 10% 10% auto 4% 10% 10%;
  grid-template-rows: repeat(5,20%);
}

.left-pivotal{
  grid-area: left;
}

.mid-pivotal1{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0rem;
  grid-area: mid1;
  background-color: #989898;
  border-radius: 1rem;
  height: 100%;
}

#mid-p1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.left-pivotal-font {
  color: #d9d8ca;
  margin-top: 0.7rem;
  font-size: 1.6rem;
}

.mid-pivotal-font {
  color: #000000;
  font-size: 1.4rem;
}
.mid-pivotal-font2 {
  color: #000000;
  font-size: 1.2rem;
}

.right-function-pivotal {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #a3b7d6;
  grid-area: right1;
}

.right-setting-pivotal {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #a3b7d6;
  grid-area: right2;
}

.nav-link {
  margin-top: 1rem;
  position: relative;
  padding: 1rem;
  font-weight: 500;
}

.nav-right1 {
  color: #fff;
}

img {
max-width:100%;
max-height:100%;
object-fit: contain;
}

// Original NavBar
.nav-grid {
  display: grid;
  height: 5rem;
  width: 100%;
  grid-template-areas: "left left left left mid right right";
  grid-template-columns: 7% 7% 7% 7% auto 10% 10%;
}

.split-20-80 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: "left right";
  grid-template-columns: 16% 74%
}

.right-container2{
  margin-left:20px;
}

.left-20 {
  grid-area: left;
  height: 100%;
  width: 100%;
}

.right-80 {
  grid-area: right;
  height: 100%;
  width: 100%;
}


.nav-left {
  grid-area: left;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
}

.nav-middle {
  grid-area: mid;
}

.nav-right {
  grid-area: right;
  display: grid;
  grid-template-areas: "right1 right2";
  grid-template-columns: 50% 50%;
}
.nav-right1 {
  margin: 0.5rem;
  grid-area: right1;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: 000;
}

.nav-right2-icon {
  margin: 0.5rem 0rem;
  grid-area: right2;
  padding: 0;
  display: flex;
  align-items: right;
  justify-content: left;
}

.nav-right2 {
  margin: 0.5rem;
  grid-area: right2;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Font Element
.notification-font {
  color: #32CD32;
}

// Special Fucntionality
.text_field {
  margin: 0.4rem;
}

.need-work {
  color: #FAEBD7;
}

.doctor-pivotal-link {
  //color: #dc3545;
  color: #FAEBD7 !important;
}

.no-show {
  display: none;
}

// contact-general-grid
.contact-general-grid {
  display: grid;
  width: 80%;
  height: 50%;
  grid-template-areas: "left right pad";
  grid-template-columns: 40% 40% auto;
}

.contact-general-item1 {
    grid-area: left;
}

.contact-general-item2 {
    grid-area: right;
}

.bond_name_male {
  font-weight: bold;
  color: #7FFFD4;
}
.bond_name_female {
  font-weight: bold;
  color: #ff7faa;
}

* {
  color: #000;
}

// NAVIGATION BAR
.navbar-nav {
    flex-direction: row;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    -mozkit-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #2e6da4;
    border: none;
    color: #fff;
}

.navbar-inverse .navbar-brand, .navbar-nav {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.nav_panel, #patient_nav {
    background-color: #428bca;
    padding: 20px;
}

#doctor_nav {
    background-color: #0b385f;
    padding: 20px;
}

#doctor_nav .nav-section {
    background-color: #adcbe4;
}

.nav-section {
    background-color: #95ceff;
    padding: 5px;

    border-radius: 5px;
    -mozkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 100%;
}

.nav-section a, .nav-section a:visited {
    color: #0e508a;
}

 .nav-section a:hover, .nav-section a:active {
    color: #123c61;
    background-color: #fdee2c;
    text-decoration: none;
    border-bottom: 1px dashed #0e508a;
 }

.col-container {
  display: flex;
  width: 70%;
}

.nav-icon {
    color: #fff;
}

#main_icon {
    width: 300px;
    margin-top: 10px;
}

a[aria-expanded="true"] {
    background-color: #2e6da4;
}

// fixes for links, buttons, etc.
a.btn,a.btn:visited {
    color: #fff;
}

// Footer
#footer {
    padding: 30px;
    text-align: center;
    background-color: #2e6da4;
    color: #fff;
    bottom:0;
    width: 100%;
}

// Slides on about page
#about_slides, #about {
    max-width: 600px;
}

a.carousel-control-prev:hover, a.carousel-control-prev:active, a.carousel-control-next:hover,
a.carousel-control-next:active, a.carousel-control-prev:focus, a.carousel-control-next:focus,
a.carousel-control-prev:visited, a.carousel-control-next:visited {
    background-color: rgba(0,0,0,0.0);
}

// RESPONSIVE FEATURES
@media only screen and (max-width: 600px) {
  .col, .col-6 {
    display: block;
    width: 100%;
    max-width: 100%;
    flex-basis: auto;

    margin-bottom: 5px; // for mobile theme
  }

  #main_icon {
      width: 100%;
  }

  #about-slides, #about {
      width: 100%;
  }

  .col-container {
      width: 100%;
  }
}
