// Place all the styles related to the SearchPatients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control {
    margin-right: 10px;
    margin-bottom: 5px;
}

.col-form-label {
    margin-right: 5px;
}

#search_table {
    max-width: 100%;
    overflow-x: auto;
}
